# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Environment variables / secrets
.env
*.env

# Fabric identities / keys / certs (NEVER COMMIT)
wallet/
identity/
msp/
keystore/
signcerts/
*.pem
*.key
*.crt
priv_sk

# Fabric artifacts / packages
organizations/
channel-artifacts/
*.pb
*.tar.gz

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
logs/
*.log
